

@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial Th", Arial, sans-serif;
}

#root.noscroll {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.marquee-text-container {
  display: flex;
  gap: 60px; 
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
}

@keyframes marquee {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-30%);}
}
