@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial Th", Arial, sans-serif;
}

@media (max-width: 1023px) {
  #root.noscroll {
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.marquee-text-container {
  display: flex;
  gap: 60px;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.path-svg {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: white;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(120, 17, 165);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(120, 17, 165);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(120, 17, 165);
    stroke-width: 3;
  }
  100% {
    fill: rgb(120, 17, 165);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.submit-btn {
  background: linear-gradient(135deg, #7811a5, #2e16bb);
}

.submit-btn:hover {
  background: black;
}

.main-title {
  opacity: 0;
}

