@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Arial Th", Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
}

@media (max-width: 1023px) {
  #root.noscroll {
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.marquee-text-container {
  display: flex;
  gap: 60px;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.path-svg {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: white;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #7811a5;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #7811a5;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #7811a5;
    stroke-width: 3;
  }
  100% {
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.submit-btn {
  background: linear-gradient(135deg, #7811a5, #2e16bb);
}

.submit-btn:hover {
  background: black;
}

.calendar-btn:hover {
  background: linear-gradient(135deg, #7811a5, #2e16bb);
}

.main-title {
  opacity: 0;
}

/* Path Animation for AI Chat */
.path1 {
  opacity: 0;
  animation: fadeInDown 800ms ease-out 0ms infinite;
}

.path2 {
  opacity: 0;
  animation: fadeInDown 800ms ease-out 150ms infinite;
}

.path3 {
  opacity: 0;
  animation: fadeInDown 800ms ease-out 300ms infinite;
}

.path4 {
  opacity: 0;
  animation: fadeInDown 800ms ease-out 450ms infinite;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  30% {
    transform: translateY(5px);
    opacity: 0.8;
  }
  70% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toggle-point {
  opacity: 0;
}

.our-brands-section {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

#popup-container {
  opacity: 1;
}

#popup-container.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.notify:before,
.notify:after {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #eeeeee;
}

.notify:before {
  top: 0;
}

.notify:after {
  bottom: 0;
}

.notify:hover > * > *:before,
.notify:hover > * > *:after {
  transform: translate3d(0, 0, 0);
}

.notify:hover > * > * > *:before,
.notify:hover > * > * > *:after {
  transform: translate3d(0, 0, 0);
}

.notify > *:before,
.notify > *:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fefefe;
}

.notify > *:before {
  left: 0;
}

.notify > *:after {
  right: 0;
}

.notify > * > *:before,
.notify > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 1px;
  width: 100%;
  background-color: #aeaeae;
}

.notify > * > *:before {
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.notify > * > *:after {
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.notify > * > * > *:before,
.notify > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 1px;
  background-color: #9c9c9c;
}

.notify > * > * > *:before {
  left: 0;
  transform: translate3d(0, 105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.notify > * > * > *:after {
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.corner-button-then {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid rgb(255, 254, 254);
}

.corner-button-then:nth-child(1) {
  top: -3px;
  left: -3px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.corner-button-then:nth-child(2) {
  top: -3px;
  right: -3px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.corner-button-then:nth-child(3) {
  bottom: -3px;
  left: -3px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-button-then:nth-child(4) {
  bottom: -3px;
  right: -3px;
  border-top-width: 0;
  border-left-width: 0;
}

.corner-button-deny {
  position: absolute;
  width: 5px;
  height: 5px;
  z-index: 99999999;

  border: 2px solid rgb(255, 255, 255);
}

.corner-button-deny:nth-child(1) {
  top: 0px;
  left: 0px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.corner-button-deny:nth-child(2) {
  top: 0px;
  right: 0px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.corner-button-deny:nth-child(3) {
  bottom: 0px;
  left: 0px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-button-deny:nth-child(4) {
  bottom: 0px;
  right: 0px;
  border-top-width: 0;
  border-left-width: 0;
}

.calendly-spinner{
visibility: hidden !important;
}

@media (min-width: 1024px) {
  .calendly-inline-widget{
    height: 1200px !important;
  }
}